[Unit]
Description=Mongodb Database daemon
After=network-online.target firewalld.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/mongod

[Install]
WantedBy=multi-user.target
